<section style="padding-bottom: 20px">
    <div class="section-header">
        <h2>1. Set your goals</h2>
        <p>What are you up to in the next weeks?</p>
    </div>
    <div class="goal-preview-gallery">
        <ng-container *ngFor="let goal of goals">
            <goal-preview [goal]="goal" (click)="openEditGoalForm(goal)">
                <div class="icon-wrapper">
                    <div (click)="completeGoal(goal)" class="icon">
                        <fa-icon [icon]="completeIcon"></fa-icon>
                    </div>
                    <div (click)="deleteGoal(goal)" class="icon">
                        <fa-icon [icon]="deleteIcon"></fa-icon>
                    </div>
                </div>
            </goal-preview>
        </ng-container>
    </div>

    <button (click)="openGoalForm()" class="btn add-goal-btn">
        <span class="btn-icon">+</span>
        <span class="label">Add Goal</span>
    </button>
</section>

<section>
    <div class="section-header">
        <h2>2. Plan your goals</h2>
        <p>What steps are necessary to achieve your goals?</p>
    </div>

    <ng-container *ngFor="let goal of goals">
        <div class="goal-wrapper">
            <h2><b>{{goal.name}}</b></h2>

            <button class="btn add-task-btn" (click)="openAddTaskForm(goal)">
                Add Task
            </button>

            <div style="margin-top: 20px; display: flex; flex-wrap: wrap; align-content: start;">
                <ng-container *ngFor="let task of getDisplayedTasks(goal.tasks)">
                    <task-preview [task]="task" (deleteSubmit)="deleteTask(task, goal)"
                        (completeSubmit)="editTask($event, goal)" (click)="openEditTaskForm(goal, task)"></task-preview>
                </ng-container>
            </div>
        </div>
    </ng-container>
</section>

<section>
    <div class="section-header">
        <h2>3. Work on your goals</h2>
        <p>Create your optimal to-do list for today & start working towards your goals!</p>
    </div>

    <button (click)="createTodoList()" [disabled]="!validTodoList" class="btn">
        Create Optimal To-Do List
    </button>
</section>

<div class="form-popup">
    <ng-container [ngSwitch]="currentGoalForm">
        <task-form *ngSwitchCase="'addTask'" (submitTask)="addTask($event, selectedGoal)" (close)="closeForm()"
            [goal]="selectedGoal">
            <h2>Add a task to your goal <b>{{selectedGoal.name}}</b></h2>
        </task-form>
        <task-form *ngSwitchCase="'editTask'" (submitTask)="editTask($event, selectedGoal)" [goal]="selectedGoal"
            [task]="selectedTask" (close)="closeForm()">
            <h2>Edit task <b>{{selectedTask.name}}</b></h2>
        </task-form>
        <goal-form *ngSwitchCase="'addGoal'" (submitGoal)="addGoal($event)" (close)="closeForm()">
            <h2>Add a new goal</h2>
        </goal-form>
        <goal-form *ngSwitchCase="'editGoal'" [goal]="selectedGoal" (submitGoal)="editGoal($event)"
            (close)="closeForm()">
            <h2>Edit your goal <b>{{selectedGoal.name}}</b></h2>
        </goal-form>
    </ng-container>
</div>