<div class="editor-instructions-wrapper">
    <goal-editor-instructions></goal-editor-instructions>
</div>
<div class="btn" (click)="openGoalForm()">
    <div>Add Goals</div>
</div>

<div class="form-popup">
    <ng-container [ngSwitch]="currentGoalForm">
        <add-task-form *ngSwitchCase="'task'" [goal]="selectedGoal" (submitTask)="addTask($event, selectedGoal)"
            (close)="toggleForm('none')">
        </add-task-form>
        <add-goal-form *ngSwitchCase="'goal'" (submitGoal)="addGoal($event)" (close)="toggleForm('none')">
        </add-goal-form>
        <edit-goal-form *ngSwitchCase="'editGoal'" [goal]="selectedGoal" (submitGoal)="editGoal($event)"
            (close)="toggleForm('none')">
        </edit-goal-form>
    </ng-container>
</div>

<div class="goal-wrapper" id="goal-display" *ngIf="goals.length">
    <ul>
        <li *ngFor="let goal of goals" class="goal-item">
            <div> Goal: <b>{{goal.name}}</b> <br> Value: {{goal.value}}% <br>Time Estimation: {{goal.time_est}} hr
                <br> Deadline: / {{goal.deadline}}
                <div>
                    <div class="icon plus" (click)="openTaskForm(goal)">
                        <div>+</div>
                    </div>
                    <div class="icon plus" (click)="deleteGoal(goal)" id="hoverText">
                        <div>-</div>
                    </div>
                    <div style="cursor:pointer;" (click)="openEditGoalForm(goal)"><img
                            [src]="imageUrls['edit_icon.png']" alt="edit icon" width="20px" height="20px"> </div>
                </div>
                <div *ngIf="goal.tasks !== undefined">
                    <div *ngIf="goal.tasks.length > 0">

                        <div> ------ Tasks ------
                            <ul>
                                <li *ngFor="let task of getDisplayedTasks(goal.tasks)">
                                    <div class="task-item" [ngClass]="{
                      'completed': task.completed, 
                      'scheduled': (task.scheduled || task.completed)
                    }">
                                        {{task.name}} <br /> Time: {{task.time_est}} hr
                                        <br> Deadline: / {{task.deadline}}
                                        <div *ngIf="!(task.scheduled || task.completed)" class="del-wrapper">
                                            <div class="del" (click)="deleteTask(goal, task)">
                                                <div>-</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<button (click)="createTodoList()" [disabled]="!validTodoList" class="btn bottom-fixed">
    Create Optimal To-Do List
</button>