section {
    padding: 25px 0;

    .section-header {
        p {
            margin-bottom: 0;
        }
    }
}

.goal-preview-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;


    .icon-wrapper {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.goal-wrapper {
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;

    background-color: #8d44ad33;
}

.editor-instructions-wrapper {
    margin-bottom: 50px;
    padding: 20px;
}

.btn {
    margin-top: 25px;
    width: 300px;
}

.scheduled {
    border: none;
    background: #8d44ad7c;
    opacity: 0.8;

}

.completed {
    background: #94b596;
    opacity: 0.8;
}

.form-popup {
    position: fixed;
    bottom: 25px;
    right: 50px;
    z-index: 9;

    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.add-goal-btn {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-content: center;

    .btn-icon {
        margin-right: 5px;

        font-weight: lighter;
        font-size: 32px;
    }

    &:hover {
        background: #8122a9;
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);
        transform: scale(1.01);
    }

    transition: 0.25s;
}

.add-task-btn {
    margin: 0;
    width: max-content;
    padding: 0 24px;
    align-self: center;

    font-size: 14px;

    &:hover {
        background: #8122a9;
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);
        transform: scale(1.01);
    }

    transition: 0.25;
}

.create-todo-list-btn {
    display: flex;
    width: max-content;
    padding: 0 24px;

    .loading-icon {
        width: 32px;
        height: 32px;
        margin-left: 15px;
        line-height: initial;
    
        align-self: center;
        opacity: 0.8;
    
        animation: rotate 1.25s infinite;
    
        @keyframes rotate {
            to{ transform: rotate(360deg); }
        }
    }
}
