.goal-preview-gallery {
    display: flex;
    justify-content: flex-start;


    .icon-wrapper {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.goal-wrapper {
    padding: 20px;
    border-radius: 20px;
    margin: 20px;

    background-color: #8d44ad33;
}

.editor-instructions-wrapper {
    margin-bottom: 50px;
    padding: 20px;
}

.btn {
    margin: 20px auto;
    width: 300px;
}

.bottom-fixed {
    position: fixed;

    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.3) !important;
}

.scheduled {
    border: none;
    background: #8d44ad7c;
    opacity: 0.8;

}

.completed {
    background: #94b596;
    opacity: 0.8;
}

.form-popup {
    position: fixed;
    bottom: 25px;
    right: 50px;
    z-index: 9;

    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.add-goal-btn {
    margin: 20px 0;

    display: flex;
    justify-content: center;
    align-content: center;

    .btn-icon {
        margin-right: 5px;

        font-weight: lighter;
        font-size: 32px;
    }

    &:hover {
        background: #8122a9;
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);
        transform: scale(1.01);
    }

    transition: 0.25s;
}

.add-task-btn {
    margin: 0;
    width: max-content;
    padding: 0 24px;
    align-self: center;

    font-size: 14px;

    &:hover {
        background: #8122a9;
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);
        transform: scale(1.01);
    }

    transition: 0.25;
}