:host {
    text-align:center;
  }

  .logo-wrapper {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 200px;
    margin-bottom: 20px;
  }

  .logo-wrapper img {
    height: 100%;
  }