h2 {
    font-weight: lighter;
}

.goal-editor-instructions {
    margin-bottom: 50px;

    ol {
        margin: 20px 0;
        margin-left: 20px;

        li {
            margin: 10px 0;
        }
    }
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color: rgb(230, 226, 251);
    color: #222;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 1%;
    margin-left: -150px;
    margin-right: 40%;
    padding: 10px;
}

.popup .popuptext_info {
    visibility: hidden;
    width: 200px;
    background-color: rgb(168, 210, 214);
    color: rgb(105, 92, 92);
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 1%;
    margin-left: -100px;
    margin-right: 35%;
    padding: 10px;
}


/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}