.goal-preview {
    position: relative;
    
    width: max-content;
    margin: 25px auto;
    padding: 25px;

    margin: 25px;
    height: max-content;
    align-self: center;

    border-radius: 20px;
    border: 3px solid #8e44ad;
    text-align: left;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-weight: lighter;
        margin-top: 0;
    }

    .goal-info-elelement {
        margin: 5px 0;

        span {
            margin-left: 5px;
        }
    }

    &:hover {
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);
        transform: scale(1.01);
        cursor: pointer;
    }

    transition: 0.25s;
}

.overdue {
    border-color: #c91515;
}