.goal-preview {
    position: relative;
    
    width: max-content;
    margin: 25px auto;
    padding: 25px;

    margin: 25px;
    height: max-content;
    align-self: center;

    border-radius: 20px;
    border: 3px solid #8e44ad;
    text-align: left;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-weight: lighter;
        margin-top: 0;
    }

    .goal-info-elelement {
        margin: 5px 0;

        span {
            margin-left: 5px;
        }
    }

    transition: 0.25s;
}

.overdue {
    border-color: #c91515;
}

.icon-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 20px;
    margin: 0 15px;
    opacity: 0.5;
    color: #8e44ad;

    &:hover {
        transform: scale(1.05);
        opacity: 1;
        cursor: pointer;
    }

    transition: 0.25s;
}

.edit {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
}