<div class="introduction">
    <h2>What else are you up to?</h2>
    <p>Please think about <b>two</b> further goals, you would like to achieve this month.</p>
</div>
<div class="goal-preview-gallery">
    <ng-container *ngFor="let goal of goals">
        <goal-preview [goal]="goal"></goal-preview>
    </ng-container>
</div>

<ng-container *ngIf="goals.length < 3; then addGoalButton else continueButton">
</ng-container>

<ng-container [ngSwitch]="currentForm">
    <ng-container *ngSwitchCase="'addGoal'">
        <div class="form-popup">
            <goal-form (submitGoal)="addFurtherGoal($event)" (close)="closeForm()">
                <h2>Add a new goal</h2>
            </goal-form>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'editGoal'">
        <div class="form-popup">
            <edit-goal-form [goal]="selectedGoal" (submitGoal)="editGoal($event)" (close)="closeForm()">
            </edit-goal-form>
        </div>
    </ng-container>
</ng-container>

<ng-template #addGoalButton>
    <button (click)="toggleAddGoalForm()" class="btn">
        <span class="add-icon">+</span>
        <span class="label">Add goal</span>
    </button>
</ng-template>

<ng-template #continueButton>
    <button (click)="continue()" class="btn">
        <span class="label">Continue</span>
    </button>
</ng-template>