<div class="introduction">
    <h2>What else are you up to?</h2>
    <p>Please think about two further goals, you would like to achieve in the coming months.</p>
</div>
<div class="goal-explanation">
    <ng-container *ngFor="let goal of goals">
        <div (click)="toggleEditGoalForm(goal)" class="goal-preview">
            <h3>{{goal.name}}</h3>
            <ul>
                <li class="goal-info-elelement">Value: <span><b>{{goal.value}}%</b></span></li>
                <li class="goal-info-elelement"> Estimation: <span><b>{{goal.time_est}}hr</b></span></li>
                <li class="goal-info-elelement">Deadline: <span><b>{{goal.deadline}}</b></span></li>
            </ul>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="goals.length < 3; then addGoalButton else continueButton">
</ng-container>

<ng-container [ngSwitch]="currentForm">
    <ng-container *ngSwitchCase="'addGoal'">
        <div class="form-popup">
            <add-goal-form (submitGoal)="addFurtherGoal($event)" (close)="closeForm()">
            </add-goal-form>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'editGoal'">
        <div class="form-popup">
            <edit-goal-form [goal]="selectedGoal" (submitGoal)="editGoal($event)" (close)="closeForm()">
            </edit-goal-form>
        </div>
    </ng-container>
</ng-container>

<ng-template #addGoalButton>
    <button (click)="toggleAddGoalForm()" class="btn">
        <span class="icon">+</span>
        <span class="label">Add goal</span>
    </button>
</ng-template>

<ng-template #continueButton>
    <button (click)="continue()" class="btn">
        <span class="label">Continue</span>
    </button>
</ng-template>