.select-task-wrapper {
    position: fixed;

    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    
    border-radius: 20px;
    border: 2px solid #8e44ad;
    background-color: #ffffff;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);

    z-index: 10000;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            width: 75%;
        }

        .cancel-btn {
            width: max-content;
            padding: 0 16px;
            align-self: flex-start;
            font-size: 14px;
        }
    }

    .goal-list {
        max-height: 300px;
        overflow: auto;

        h4 {
            width: 80%;
            margin-top: 0;
            font-weight: normal;
        }

        .task-list {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-content: start;
        }
    }

    .submit-buttons {

        display: flex;

        .add-intentions-btn,
        .optimal-todo-list-btn {
            display: flex;
            width: max-content;
            padding: 0 24px;
            margin: 24px 10px;

            font-size: 14px;
        }

        .loading-icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-left: 15px;
            line-height: initial;

            align-self: center;
            opacity: 0.8;

            animation: rotate 1.25s infinite;

            @keyframes rotate {
                to{ transform: rotate(360deg); }
            }
        }
    }
}