<div class="select-task-wrapper">
    <div class="header">
        <div>
            <h2>Select your tasks for today</h2>
            <p>What are you up to today? CompliceX can help you here!
                By clicking on <b>Create Optimal To-Do List</b>, CompliceX will determine your most important tasks and
                suggest them as your intentions for today. You can also select your tasks manually by clicking on them.
                Afterward, draft them as your intentions for today.
            </p>
        </div>

        <button (click)="cancel()" class="btn cancel-btn">
            Cancel
        </button>
    </div>
    <div class="goal-list">
        <ng-container *ngIf="!hasOpenTasks">
            <h4>There are currently no open tasks. Go to the <b>Goals</b> page to enter new tasks to your goals.</h4>
        </ng-container>
        <ng-container *ngIf="hasOpenTasks">
            <div *ngFor="let goal of goals">
                <h3><b>{{goal.name}}</b></h3>
                <ng-container *ngIf="!getDisplayedTasks(goal.tasks).length">
                    <h4>All tasks for this goal are already completed or
                        scheduled for today. Go to the <b>Goals</b> page to add further tasks to your goal.</h4>
                </ng-container>
                <div class="task-list">
                    <ng-container *ngFor="let task of getDisplayedTasks(goal.tasks)">
                        <task-select-preview [task]="task" [selected]="isTaskSelected(task)"
                            (click)="selectTask(task, goal)">
                        </task-select-preview>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="submit-buttons">
        <button (click)="createOptimalTodolist()" class="btn optimal-todo-list-btn">
            Create Optimal To-Do List
            <ng-container *ngIf="loading">
                <fa-icon class="icon" [icon]="loadingIcon"></fa-icon>
            </ng-container>
        </button>
        <button [disabled]="!selectedTasks.length" (click)="draftIntentions()" class="btn add-intentions-btn">
            <ng-container *ngIf="selectedTasks.length">
                Draft {{selectedTasks.length}} Intention(s) For Today
            </ng-container>
            <ng-container *ngIf="!selectedTasks.length">
                Draft Intentions For Today
            </ng-container>
        </button>
    </div>
</div>