.select-task-wrapper {
    position: fixed;

    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    border-radius: 20px;

    background-color: #e8daef;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.15);

    z-index: 10000;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .goal-list {
        max-height: 300px;
        overflow: auto;

        h4 {
            width: 80%;
            margin-top: 0;
            font-weight: normal;
        }

        .task-list {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-content: start;
        }
    }

    .add-intentions-btn {
        width: max-content;
        padding: 0 24px;
        margin: 24px 0;

        font-size: 14px;
    }
}