#login-wrapper {
    display:flex;
    align-items:center;
    flex-direction: column;
    text-align:center;
}
#login-wrapper img {

    height: 100px;
}
#login-wrapper .btn {

    margin-top: 20px;
}