<div>
    <h2>Our recommendation for you</h2>
    <p>Based on the information you provided, the following (sub)goals seem most important for you at the moment: </p>
    <br>
    <p>If you are not sure what to prioritise over the course of the next week(s), this could be a way to prioritise
        your to-do list for you.</p>

    <ul>
        <div>
            <li *ngFor="let item of final_optList"></li>
        </div>
    </ul>

    <div class="item-amount" style="color:blue; font-size: 18px; white-space:pre-wrap;">{{getGoalname(finalList)}}</div>

    <br><br>
    <h3><b>This recommendation is based on</b></h3>
    1. The number of your goals and tasks<br>
    2. The value of your goals<br>
    3. The estimated duration of your goals and tasks<br>
    4. How much each (sub)goal contributes to the larger goal<br>

    <br><br>
    <p>
        Here is the passcode you need to proceed on GuidedTrack survey: <b>goal100</b><br>
        Please DO NOT close this window yet because you will need the information on this screen to answer some
        questions.
    </p>
</div>