<div [ngClass]="{'completed': task.completed, 'scheduled': task.scheduled, 'overdue': isOverdue}" class="task-preview">
    <h3>{{task.name}}</h3>
    <ul>
        <li class="info-elelement"> Estimation: <span>{{task.time_est}}hr</span></li>
        <li class="info-elelement">Deadline: <span>{{task.deadline || '/'}}</span></li>
    </ul>

    <div class="icon-wrapper">
        <ng-container *ngIf="!(task.completed || task.scheduled)">
            <fa-icon [icon]="deleteIcon" (click)="deleteTask()" class="icon"></fa-icon>
        </ng-container>

        <ng-container *ngIf="task.scheduled && !task.completed">
            <span>scheduled</span>
            <fa-icon [icon]="scheduledIcon" class="icon"></fa-icon>
        </ng-container>

        <ng-container *ngIf="task.completed">
            <span>completed</span>
            <fa-icon [icon]="completeIcon" class="icon"></fa-icon>
        </ng-container>
    </div>
</div>