.form-container {
    max-width: 300px;
    padding: 25px;

    border: 2px solid #8e44ad;
    border-radius: 15px;
    background-color: white;

    text-align: left;

    h1 {
        b {
            font-weight: 500;
        }
    }

    label {
        font-size: 12px;
        color: gray;
        margin-left: 6px
    }

    input {
        width: 100%;
        margin: 10px 0;
        padding: 16px;
        border-radius: 15px;
        background: #8d44ad0c;
        border: 2px solid #8d44ad4a;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }

        &:focus {
            background-color: #ddd;
            outline: none;
        }
    }

    .feedback-message {
        margin-left: 10px;
        font-size: 12px;
        color: #8e44ad;
    }

    button {
        margin: 10px 0;
    }
}