<ng-container *ngIf="!isGoalPreview">
    <div class="initial-goal-wrapper">
        <div class="initial-goal-introduction">
            <h2>
                What is the most important goal you want to achieve this week?
            </h2>

            <p>
                Take a moment to think about the question and enter your first goal.
            </p>
        </div>
        <br>

        <div class="form-wrapper">
            <initial-goal-form (submitGoal)="showGoalPreview($event)"></initial-goal-form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isGoalPreview">
    <div class="initial-goal-explanation">
        <h2>Here is your most important goal!</h2>
        <div class="initial-goal-preview">
            <h3>{{goalProperties.name}}</h3>
            <ul>
                <li class="goal-info-elelement">Value: <span><b>{{goalProperties.value}}%</b></span></li>
                <li class="goal-info-elelement"> Estimation: <span><b>{{goalProperties.time_est}} hr</b></span></li>
                <li class="goal-info-elelement">Deadline: <span><b>{{goalProperties.deadline}}</b></span></li>
            </ul>
        </div>

        <p>
            Because this is your most valuable goal, we set its value to 100% and use it as a reference point for
            estimating
            the value of your other goals.
        </p>
        <button type="submit" class="btn add" (click)="addInitialGoal()">Next</button>
    </div>
</ng-container>