.initial-goal-introduction {
  text-align: center;

  margin-bottom: 20px;
}

.form-wrapper {
  width: max-content;
  margin: 0 auto;
}

.initial-goal-explanation {
  text-align: center;

  p {
    margin: 0 auto;
    width: 40%;
  }

  .initial-goal-preview {
    width: max-content;
    margin: 25px auto;
  }

  button {
    width: 300px;
    margin-top: 25px;
  }
}