.initial-goal-introduction {
  text-align: center;

  h2 {
    font-weight: lighter;
  }

  margin-bottom: 20px;
}

.form-wrapper {
  width: max-content;
  margin: 0 auto;
}

.initial-goal-explanation {
  text-align: center;

  h2 {
    font-weight: lighter;
  }

  p {
    margin: 0 auto;
    width: 40%;
  }

  .initial-goal-preview {
    width: max-content;
    margin: 25px auto;
  }

  button {
    width: 300px;
    margin-top: 25px;

    background: #8e44ad !important;
    color: #FFF;
    box-shadow: none;
    border: none;

    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
  }
}